@font-face {
    font-family: BasicTitle;
    src: url('../fonts/basictitlefont.ttf');
}
body {
    text-align: center;
}
#date {
    margin-top: 1em;
    text-align: right;
    color: #aaaaaa;
    font-size: xx-large;
    font-weight: bold;
    font-family: BasicTitle, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#status {
    margin-top: 1em;
    color: #aaaaaa;
    font-size: x-large;
    font-weight: bold;
    font-family: BasicTitle, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main-img {
    max-width: 100%;
}